.h1 {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 60px 10px;
    text-align: center;
}

.img {
    width: 500px;
    height: 800px;
}

.c-img {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 5px 10px;
    cursor: pointer;
    transition: all 500ms ease-out;
}

.txt {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.c-img:hover>.txt {
    opacity: 1;
    visibility: visible;
}

.c-img:hover>.txt h1 {
    margin-top: 150px;
    margin-bottom: 60px;
}

.c-img .titulo {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.c-img p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: auto;
}

.img1 {
    height: 500px;
}

.img2 {
    height: 500px;
}

.img3 {
    height: 500px;
}

.img4 {
    height: 500px;
}